.quackoverflow {
    bottom: -54px;
    transition: bottom .1s cubic-bezier(.165, .84, .44, 1);
}
.quackoverflow.is-visible {
    bottom: 24px;
}
.quack-popover {
    opacity: 0;
    position: absolute;
    transform: translate3d(0, 25%, 0) scale3d(.5, .5, .5);
    visibility: hidden;
    will-change: transform;
    z-index: -1;
}
.quack-popover.is-visible {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    transition: transform 100ms cubic-bezier(.165, .84, .44, 1);
    visibility: visible;
    z-index: 1;
}
.quack-popover .has-width {
    width: 270px;
}
.quack-popover .step {
    transition: all 2s ease;
}
.quack-popover .quack-popover--arrow {
    bottom: -8px;
    display: block;
    height: 8px;
    position: absolute;
    right: 33px;
    width: 16px;
}
.quack-popover .quack-popover--arrow:before {
    border-color: transparent;
    border-style: solid;
    border-top-color: #D6D9DC;
    border-width: 8px 8px 0 8px;
    bottom: 0;
    content: "";
    display: block;
    position: absolute;
}
.quack-popover .quack-popover--arrow:after {
    border-color: transparent;
    border-style: solid;
    border-top-color: #fff;
    border-width: 8px 8px 0 8px;
    bottom: 1px;
    content: "";
    display: block;
    position: absolute;
}
#waves,
#waves-b {
    height: 70px;
    width: 100%;
}
.quack-loading {
    display: block;
    height: 70px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 70px;
}
.quack-loading .loading-center {
    background: #fff;
    border-radius: 50%;
    height: 74px;
    left: 50%;
    margin-left: -37px;
    margin-top: -37px;
    position: absolute;
    top: 50%;
    width: 74px;
}
.quack-loading .ring {
    animation: wave 1.2s infinite linear;
    border-radius: 50%;
    display: block;
    position: absolute;
}
.quack-loading .ring01 {
    animation-delay: 0;
    background-color: rgba(201,29,46,0.15);
    bottom: -5%;
    left: -6%;
    right: -2%;
    top: -7%;
    transform-origin: 46% 53%;
}
.quack-loading .ring02 {
    animation-delay: -1s;
    background-color: rgba(242,114,12,0.5);
    bottom: -2%;
    left: -4%;
    right: -4%;
    top: -9%;
    transform-origin: 47% 50%;
}
.quack-loading .ring03 {
    animation-delay: -1.5s;
    background-color: rgba(255,255,25,0.25);
    bottom: -5%;
    left: -8%;
    right: -4%;
    top: -6%;
    transform-origin: 49% 53%;
}
.quack-loading .ring04 {
    animation-delay: -2s;
    background-color: rgba(76,141,189,0.25);
    bottom: -3%;
    left: -5%;
    right: -6%;
    top: -9%;
    transform-origin: 47% 52%;
}
@keyframes wave {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}
